{
  "CN": "etcd",
  "hosts": [
    "127.0.0.1",
    "{{ master1_ip }}",
    "{{ master2_ip }}",
    "{{ master3_ip }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "Guangdong",
      "L": "Guangzhou",
      "O": "Kubernetes",
      "OU": "System"
    }
  ]
}
